<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>

    <appSettings>
        <add key="SpotifyAPI.ClientID" value="0b5456118f15402689855579c77daa08" />
    </appSettings>
</configuration>
